*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 300; }

.container {
  background-color: #000;
  display: grid;
  grid-template-columns: 3rem [full-start] 1fr repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) 1fr [full-end] 3rem;
  grid-template-rows: 70vh 20vh 60vh  max-content 1fr 1fr 30vh; }

.bg-logo {
  margin: 0 3rem;
  grid-column: full-start / full-end;
  grid-row: 1 / -1;
  position: fixed;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000, transparent, #000), url(../../img/concrete-wall.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; }
  .bg-logo__img {
    width: 100%; }

.heading__1 {
  font-family: "Gochi Hand", cursive;
  text-transform: uppercase;
  color: #e8feff;
  font-size: 5rem;
  animation: movingDown 1s cubic-bezier(0.46, 1.14, 0.55, 1.19);
  animation-delay: .5s;
  animation-fill-mode: both; }

.heading__2 {
  font-family: "Gochi Hand", cursive;
  text-transform: uppercase;
  color: #000;
  font-size: 5rem; }

.header {
  grid-column: col-start 1 / col-end 12;
  display: flex;
  justify-content: center;
  position: relative; }
  .header__left {
    background-color: #ff3333;
    background-image: linear-gradient(to bottom, rgba(61, 35, 35, 0.8) 10%, transparent 70%), url(../../img/fede-byn.JPG);
    background-size: cover;
    background-position-y: 78%;
    width: 100%;
    height: 100%;
    animation: movingRight 1s ease-out;
    animation-fill-mode: both;
    border-radius: 3px;
    box-shadow: -1rem 3rem 6rem; }
  .header__right {
    background-color: #1e5d17;
    background-image: linear-gradient(to bottom, rgba(61, 35, 35, 0.8) 10%, transparent 70%), url(../../img/fede-byn-b.jpg);
    background-size: cover;
    background-position-y: 54%;
    background-position-x: 54%;
    width: 100%;
    height: 100%;
    animation: movingLeft 1s ease-out;
    animation-fill-mode: both;
    border-radius: 3px;
    box-shadow: 1rem 3rem 6rem; }
  .header__content {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
  .header__logo {
    width: 20rem;
    height: 20rem;
    background-color: rgba(30, 93, 23, 0.6);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4rem 6rem #000;
    animation: scaleLogo 1s ease-in-out;
    animation-delay: 1.2s;
    animation-fill-mode: both; }
  .header__img {
    width: 100%; }

.navigation-section {
  grid-column: col-start 2 / col-end 11;
  z-index: 10;
  animation: moveUp 1s ease-out;
  animation-delay: 1.2s;
  animation-fill-mode: both; }

.navigation {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navigation__link {
    text-decoration: none;
    font-family: "Gochi Hand", cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: #e8feff;
    display: block;
    padding: 2rem;
    transform: scale(1);
    transition: all .2s; }
    .navigation__link:hover {
      color: #ff3333;
      background-color: #13181b;
      border-radius: 5px;
      transform: scale(1.2) rotate(-5deg); }

.promo-section {
  grid-column: col-start 2 / col-end 11;
  background-color: #000;
  z-index: 5;
  border-radius: 10px;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin-bottom: 3rem;
  animation: moveUp 1s ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: both; }

.heading__promo:hover ~ .promo-container {
  opacity: .3; }

.promo-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  opacity: 1;
  transition: .2s; }
  .promo-container:hover {
    opacity: .7; }

.heading__promo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3rem;
  padding: 3rem;
  cursor: pointer;
  border-bottom: 3px solid #000;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
  transition: .2s; }
  .heading__promo:hover {
    background-color: white; }
  .heading__promo:active {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -47%);
    background-image: #d60505; }

.back-promo__1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-image: url(../../img/promo-1.JPG);
  background-size: cover; }

.back-promo__2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-image: url(../../img/promo-2.JPG);
  background-size: cover; }

.back-promo__3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-image: url(../../img/promo-3.JPG);
  background-size: cover; }

.culture {
  grid-column: col-start 1 / col-end 12;
  background-color: #000;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  z-index: 5;
  padding: 6rem 1rem;
  border-radius: 3px;
  animation: moveUp 1s ease-out;
  animation-delay: 1.7s;
  animation-fill-mode: both; }

.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 5vw);
  gap: .5rem;
  z-index: 40; }
  .gallery__item {
    overflow: hidden;
    transition: .4s;
    cursor: pointer; }
    .gallery__item:hover {
      transform: scale(1.1);
      border-radius: 3px;
      overflow: visible;
      z-index: 50;
      position: relative; }
    .gallery__item:active {
      position: relative;
      transform: scale(1.5);
      z-index: 200; }
    .gallery__item--1 {
      grid-column: 1 / 3;
      grid-row: 1 / 5;
      background-image: url(../../img/gallery-culture/gallery-1.jpg);
      background-size: cover;
      filter: contrast(180%) brightness(110%); }
    .gallery__item--2 {
      grid-column: 3 / 5;
      grid-row: 1 / 7;
      background-image: url(../../img/gallery-culture/gallery-2.jpg);
      background-size: cover;
      background-position-x: 0%;
      filter: saturate(15%) contrast(1.5); }
    .gallery__item--3 {
      grid-column: 5 / 7;
      grid-row: 1 / 5;
      background-image: url(../../img/gallery-culture/gallery-3.jpg);
      background-size: cover;
      background-position-y: 65%;
      filter: contrast(150%) saturate(150%); }
    .gallery__item--4 {
      grid-column: 7 / 11;
      grid-row: 1 / 7;
      background-image: url(../../img/gallery-culture/gallery-4.jpg);
      background-size: cover;
      filter: saturate(120%) contrast(150%);
      background-position-y: 39%; }
    .gallery__item--5 {
      grid-column: 1 / 3;
      grid-row: 5 / 7;
      background-image: url(../../img/gallery-culture/gallery-5.jpg);
      background-size: cover;
      filter: brightness(0.7);
      background-position-y: 41%; }
    .gallery__item--6 {
      grid-column: 5 / 7;
      grid-row: 5 / 7;
      background-image: url(../../img/gallery-culture/gallery-6.JPG);
      background-size: cover;
      background-position-y: center; }
    .gallery__item--7 {
      grid-column: 4 / 8;
      grid-row: 7 / 12;
      background-image: url(../../img/gallery-culture/gallery-7.JPG);
      background-size: cover;
      background-position-y: 79%; }
    .gallery__item--8 {
      grid-column: 1 / 4;
      grid-row: 7 / 10;
      background-image: url(../../img/gallery-culture/gallery-8.JPG);
      background-size: cover;
      background-position-y: 91%; }
    .gallery__item--9 {
      grid-column: 8 / 11;
      grid-row: 7 / 14;
      background-image: url(../../img/gallery-culture/gallery-9.jpg);
      background-size: cover;
      background-position-y: center; }
    .gallery__item--10 {
      grid-column: 1 / 4;
      grid-row: 10 / 12;
      background-image: url(../../img/gallery-culture/gallery-10.jpg);
      background-size: cover;
      background-position-y: center; }
    .gallery__item--11 {
      grid-column: 1 / 8;
      grid-row: 12 / 21;
      background-image: url(../../img/gallery-culture/gallery-11.jpg);
      background-size: cover;
      background-position-y: 35%; }
    .gallery__item--12 {
      grid-column: 8 / 11;
      grid-row: 14 / 21;
      background-image: url(../../img/gallery-culture/gallery-12.jpg);
      background-size: cover;
      background-position-y: 23%; }

.product {
  grid-column: col-start 1 / col-end 12;
  position: relative;
  z-index: 5;
  padding: .5rem;
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1.7rem;
  margin: 7rem 0; }

.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;
  z-index: 20; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      display: flex; }
      .card__side--front-1 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-citroneta-1.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--front-2 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-eternidad-1.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--front-3 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-lemon-skate-1.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--front-4 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-rosas-1.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--front-5 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-causa-perdida-1.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--front-6 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-vinyl-1.jpg);
        background-size: cover;
        background-position-x: center; }
    .card__side--back {
      transform: rotateY(180deg);
      display: flex;
      justify-content: center; }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-citroneta-2.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-eternidad-2.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-lemon-skate-2.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--back-4 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-rosas-2.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--back-5 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-causa-perdida-2.jpg);
        background-size: cover;
        background-position-x: center; }
      .card__side--back-6 {
        background-image: linear-gradient(to bottom, #000 6%, transparent 15%, transparent 80%, #000 90%), url(../../img/t-shirts/r-vinyl-2.jpg);
        background-size: cover;
        background-position-x: center; }
  .card__name {
    align-self: flex-end;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
    color: #e8feff;
    text-shadow: 1.5rem 1.2rem 0.5rem #ff3333;
    background-image: radial-gradient(#461010 40%, #240303 60%);
    padding: 1rem 0;
    margin: .5rem 0;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%); }
  .card__tienda {
    text-decoration: none;
    align-self: flex-end;
    width: 90%;
    text-align: center;
    font-size: 4rem;
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
    color: #e8feff;
    text-shadow: 1rem 1rem 1rem black;
    background-image: radial-gradient(#1e5d17, #073602);
    border-radius: 42%;
    padding: 1rem 0;
    margin: .5rem 0;
    transition: .3s; }
    .card__tienda:hover {
      transform: translateY(-1rem);
      box-shadow: 0 0.7rem 3rem #1e5d17; }
    .card__tienda:active {
      transform: translateY(0rem); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.work {
  grid-column: col-start 1 / col-end 12;
  background-color: #000;
  opacity: .5;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  margin-bottom: 5rem;
  z-index: 10;
  padding: 6rem 1rem;
  border-radius: 3px;
  animation: moveUp 1s ease-out;
  animation-delay: 1.7s;
  animation-fill-mode: both; }

.work-gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 5vw);
  gap: .5rem;
  z-index: 40; }
  .work-gallery__item {
    overflow: hidden;
    transition: .4s;
    cursor: pointer;
    padding: .5rem; }
    .work-gallery__item:hover {
      transform: scale(1.1);
      border-radius: 3px;
      overflow: visible;
      z-index: 50;
      position: relative; }
    .work-gallery__item:active {
      position: relative;
      transform: scale(1.5);
      z-index: 200; }
    .work-gallery__item--1 {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
      background-image: url(../../img/gallery-work/work-m1.jpg);
      background-size: cover;
      background-position-y: center;
      background-position-x: center; }
    .work-gallery__item--2 {
      grid-column: 3 / 5;
      grid-row: 1 / 5;
      background-image: url(../../img/gallery-work/work-4.JPG);
      background-size: cover;
      background-position-x: center; }
    .work-gallery__item--3 {
      grid-column: 5 / 7;
      grid-row: 1 / 6;
      background-image: url(../../img/gallery-work/work-m3.jpg);
      background-size: cover;
      background-position-x: center; }
    .work-gallery__item--4 {
      grid-column: 7 / 11;
      grid-row: 1 / 8;
      background-image: url(../../img/gallery-work/work-1.jpg);
      background-size: cover;
      background-position-x: center; }
    .work-gallery__item--5 {
      grid-column: 1 / 3;
      grid-row: 4 / 8;
      background-image: url(../../img/gallery-work/work-2.JPG);
      background-size: cover;
      background-position-x: center; }
    .work-gallery__item--6 {
      grid-column: 3 / 5;
      grid-row: 5 / 8;
      background-image: url(../../img/gallery-work/work-3.JPG);
      background-size: cover;
      background-position-x: center; }
    .work-gallery__item--7 {
      grid-column: 5 / 7;
      grid-row: 6 / 8;
      background-image: url(../../img/gallery-work/work-m2.jpg);
      background-size: cover;
      background-position-x: center; }
    .work-gallery__item--8 {
      grid-column: 1 / 4;
      grid-row: 8 / 17;
      background-image: url(../../img/gallery-work/work-12.jpg);
      background-size: cover;
      background-position-y: bottom;
      background-position-x: center; }
    .work-gallery__item--9 {
      grid-column: 4 / 6;
      grid-row: 8 / 12;
      background-image: url(../../img/gallery-work/work-5.jpg);
      background-size: cover;
      background-position-x: center; }
    .work-gallery__item--10 {
      grid-column: 6 / 8;
      grid-row: 8 / 13;
      background-image: url(../../img/gallery-work/work-10.jpg);
      background-size: cover;
      background-position-x: center;
      background-position-y: center; }
    .work-gallery__item--11 {
      grid-column: 4 / 6;
      grid-row: 12 / 17;
      background-image: url(../../img/gallery-work/work-7.jpg);
      background-size: cover;
      background-position-x: center;
      background-position-y: center; }
    .work-gallery__item--12 {
      grid-column: 8 / 11;
      grid-row: 8 / 13;
      background-image: url(../../img/gallery-work/work-15.jpg);
      background-size: cover;
      background-position-x: center;
      background-position-y: bottom; }
    .work-gallery__item--13 {
      grid-column: 6 / 11;
      grid-row: 13 / 17;
      background-image: url(../../img/gallery-work/work-fede.jpg);
      background-size: cover;
      background-position-x: center;
      background-position-y: center; }

.poput {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #531210, transparent, #531210);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  display: grid;
  grid-template-columns: 100%;
  grid-row: 100%;
  justify-items: center;
  align-items: center; }
  .poput:target {
    visibility: visible;
    opacity: 1; }
  .poput__close:link, .poput__close:visited {
    font-size: 5rem;
    color: #fff;
    position: absolute;
    top: 0;
    right: 4rem;
    text-decoration: none; }
  .poput__content {
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 40% 10% 10% 40%; }
  .poput__text {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 2rem;
    font-family: "Gochi Hand", cursive;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 3rem 0;
    border-radius: 3px;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .poput__text--model {
      text-decoration: underline;
      text-transform: uppercase; }
    .poput__text--name {
      font-family: "Allura", cursive;
      text-transform: lowercase; }
      .poput__text--name::first-letter {
        text-transform: uppercase; }
  .poput__figure-citroneta--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-citroneta-1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-citroneta--2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-citroneta-2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-eternidad--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-eternidad-1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-eternidad--2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-eternidad-2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-lemonskate--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-lemon-skate-1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-lemonskate--2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-lemon-skate-2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-rosas--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-rosas-1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-rosas--2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-rosas-2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-causaperdida--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-causa-perdida-1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-causaperdida--2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-causa-perdida-2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-vinyl--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-vinyl-1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  .poput__figure-vinyl--2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-image: url(../../img/t-shirts/r-vinyl-2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }

.form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .form__box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .form__label {
    text-transform: uppercase;
    margin-bottom: 5px; }
  .form__select {
    width: 90%;
    padding: .3rem .8rem;
    appearance: none;
    border-style: none;
    outline-style: none;
    text-align: center;
    background-color: #531210;
    color: #fff;
    font-family: "Gochi Hand", cursive;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 10px;
    transition: .2s; }
    .form__select option {
      border-radius: 10px;
      background-color: #531210; }
    .form__select:focus {
      outline: none; }
    .form__select:hover {
      transform: scale(1.1) translateY(-2px);
      background-color: #5f302f;
      cursor: pointer; }
  .form__btn {
    margin-top: 2rem;
    border: none;
    outline: none;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #073602;
    font-family: "Gochi Hand", cursive;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    color: #e8feff;
    transition: .2s; }
    .form__btn:hover {
      transform: scale(1.1) translateY(-2px);
      box-shadow: 0 0.7rem 3rem #1e5d17; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 300; }

.container {
  background-color: #000;
  display: grid;
  grid-template-columns: 3rem [full-start] 1fr repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) 1fr [full-end] 3rem;
  grid-template-rows: 70vh 20vh 60vh  max-content 1fr 1fr 30vh; }

.bg-logo {
  margin: 0 3rem;
  grid-column: full-start / full-end;
  grid-row: 1 / -1;
  position: fixed;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000, transparent, #000), url(../../img/concrete-wall.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; }
  .bg-logo__img {
    width: 100%; }

@keyframes movingRight {
  0% {
    transform: translateX(-300rem);
    opacity: .3; }
  50% {
    transform: translateX(0rem);
    opacity: 1; }
  70% {
    transform: translateX(-2rem);
    opacity: 1; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes movingLeft {
  0% {
    transform: translateX(300rem);
    opacity: .3; }
  50% {
    transform: translateX(0rem);
    opacity: 1; }
  70% {
    transform: translateX(2rem);
    opacity: 1; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes movingDown {
  0% {
    transform: translateY(-30rem); }
  100% {
    transform: translateY(0rem);
    opacity: .8; } }

@keyframes scaleLogo {
  0% {
    transform: scale(0) translateY(-50%); }
  100% {
    transform: scale(1) translateY(0rem); } }

@keyframes moveUp {
  0% {
    transform: translateY(30rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.footer {
  grid-column: full-start / full-end;
  background-color: #13181b;
  z-index: 5; }
