@keyframes movingRight {
    0%{
        transform: translateX(-30rem);
        opacity: 0;
    }
    50%{
        transform: translateX(0rem);
        opacity: .8;
    }
    70%{
        transform: translateX(-2rem);
        opacity: 1;
    }
    100%{
        transform: translateX(0rem);
        opacity: .9;
    }
}
@keyframes movingLeft {
    0%{
        transform: translateX(30rem);
        opacity: 0;
    }
    50%{
        transform: translateX(0rem);
        opacity: .8;
    }
    70%{
        transform: translateX(2rem);
        opacity: 1;
    }
    100%{
        transform: translateX(0rem);
        opacity: .9;
    }
}
@keyframes movingDown {
    0%{
        transform: translateY(-30rem);
    }
    100%{
        transform: translateY(0rem);
        opacity: .8;
    }
}
@keyframes scaleLogo {
    0%{
        transform: scale(0)
                    translateY(-50%);
    }
    100%{
        transform: scale(1) 
                    translateY(0rem);
    }
}