//COLORS
$color-primary-blue: #12234e;
$color-primary-pink: #8d074a;
$color-primary-orange: #953002;
$color-primary-wine: #531210;
$color-secondary-wine: #5f302f;
$color-primary-yellow: #d49700;
$color-primary-green: #1e5d17;
$color-secondary-green: #073602;
$color-primary-red: #ff3333;
$color-secondary-red: #461010;

$color-primary-gray-1: #413b3b;
$color-primary-gray-2: #889ea9;
$color-primary-gray-3: #81afa5;
$color-primary-gray-4: #e8feff;
$color-primary-gray-5: #6a706e;
$color-primary-gray-6: #13181b;

$media-bp-huge: 68.75em; //1100px
$media-bp-bigger: 56.25em; //900px
$media-bp-medium: 43.75em; //700px
$media-bp-small: 37.5em; //600px

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px{10/16}
    font-weight: 300;

    @media only screen and (max-width: $media-bp-huge){
        font-size: 56.25%; //9px
    }
    @media only screen and (max-width: $media-bp-bigger){
        font-size: 50%; //8px
    }
    @media only screen and (max-width: $media-bp-medium){
        font-size: 43.75%; //7px
    }
    @media only screen and (max-width: $media-bp-small){
        font-size: 37.5%; //6px
    }
}
.container{
background-color: #000;

    display: grid;
    grid-template-columns: 3rem [full-start] 1fr repeat(12, [col-start] minmax(min-content, 10rem)[col-end]) 1fr [full-end] 3rem;
    grid-template-rows: 70vh 20vh 60vh  max-content 1fr;


    // height: 100rem;
}

.bg-logo{
    margin: 0 3rem;
    grid-column: full-start / full-end;
    grid-row: 1 / -1;
    position: fixed;
    height: 100vh;

    background-image: linear-gradient(to bottom, #000, transparent, #000), 
                    url(../../img/concrete-wall.jpg);
                    background-size: cover;
                    background-position: center;

    display: flex;
    align-items: center;

    &__img{
        width: 100%;
    }
}