.navigation-section{
    grid-column: col-start 2 / col-end 11;
    z-index: 10;


    animation: moveUp 1s ease-out;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}
.navigation{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;




    &__link{
        text-decoration: none;
        font-family: $font-uppercase;
        font-size: 3rem;
        text-transform: uppercase;
        color: $color-primary-gray-4;
        display: block;
        padding: 2rem;
        transform: scale(1);
        transition: all .2s;

        &:hover{
            color: $color-primary-red;
            background-color: $color-primary-gray-6;
            border-radius: 5px;
            transform: scale(1.2) rotate(-5deg);
        }

    }
}